*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    max-width: 1680px;
    margin: 0 auto;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("/images/developer.png"),url("/images/header_bg.png"),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 71%;
    max-width:1140px;
  
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style:none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.section-heading{
    max-width: 817px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
#banner{
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width:585px ;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height:30px;
    margin-bottom: 30px;
}
.banner-img{
    max-width: 585px;
}

#about, #skils, #resume{
    padding-top:130px;
}
.about-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;

}
.about-info{
   display: flex;
   justify-content: space-around;
}
.about-card p{
    font-size: 20px;
    color: #757575;
    line-height:30px;
}
.about-card h4{
    font-size: 20px;
}
.skils-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    
    
}
.skils-box{
    display: flex;
    gap: 24px;
}
.skils-cards{
    padding: 30px;
    max-width: 267px;
}
.skils-cards img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skils-cards h3{
    font-size: 20px;
    font-weight: bold;
    color:#181818;

}
.skils-cards p{
    font-size: 16px;
    color: #757575;
    line-height:28px;
    margin-bottom: 30px;
}
.skils-cards{
    box-shadow: 0 6px 50px 0 #00000048;
}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container p{
    font-size: 16px;
    color: #757575;
    line-height:30px;
}
.resume-container .year{
    font-size: 20;
    margin-bottom: 20px;
    font-weight: 600;
    color: #757575;
}
.section-tittle{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #474747;
}

.card-tittle{
    margin-right: 47px;
}
.resume-h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color:#474747;
}
.card-text{
    font-size: 16px;
    color: #757575;
    line-height:28px;
}
.resume-container .hr{
    margin: 30px 0;
}

.btn-align{
    text-align: center;
    margin-top: 50px;
}
footer{
    margin-top: 113px;
    background-color:#FFF8F3 ;
    padding:130px ;

}
.footer-container{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    gap: 116px;
}
.social{
    max-width: 562px;
}

.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;
}
.footer-container p{
    color: #474747;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 30PX;
}
.footer-container .icon a{
    margin-right: 24px;

} 
.footer-container form input[type="text"],.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color:#757575 ;
}